{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<!-- Slick Slider -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<!-- Ваш main.js -->
<script src="{% static 'scripts/main.js' %}"></script>



    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>photo_sait</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <!-- Подключение CSS -->
    <link rel="stylesheet" href="{% static 'style/main_style.css' %}">

    <!-- Подключение JS -->
    <script src="{% static 'scripts/burger.js' %}"></script>
    <script src="{% static 'scripts/gallery.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/slader_1.js' %}"></script>

    <!-- Изображение -->
<!--    <img src="{% static 'images/logo_photo_sait.png' %}" alt="Logo">-->
<!--    <img src="{% static 'images/DSC_6094.jpg' %}" alt="photo">-->


    <!-- Для файлов внутри приложений -->
    <link rel="stylesheet" href="{% static 'myblog/style/main_style.css' %}">

    <link rel="icon" type="image/png" href="/images/logo.png">
    <link rel="stylesheet" href="../../../static/style/XBurgeR.css" type="text/css">
    <link rel="stylesheet" href="../../../static/style/main_style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
</head>
<body class="main_background">
    <!-- Подключаем зависимости (если нужны) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Если используете Slick -->
    <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Подключаем ваш main.js -->
    <script src="{% static 'scripts/main.js' %}"></script>
    <script>
        $(document).ready(function() {
        $('[data-fancybox="gallery"]').fancybox({
        buttons: [
        "zoom",
        "share",
        "slideShow",
        "fullScreen",
        "download",
        "thumbs",
        "close"
        ],
        loop: true,
        protect: true
        });
        });
    </script>

    <div id="glav" class="main_background">
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header__body">
                        <a href="#" class="header__logo">
<!--                            <img src="images/logo_photo_sait.png" class="logo_image" alt="jj">-->
                            <img src="{% static 'images/logo_photo_sait.png' %}" class="logo_image" alt="Logo">
                        </a>
                        <div class="header__burger margin_to_right_burger">
                            <span></span>
                        </div>
                        <div class="right-block">
                            <nav class="header__menu">
                                <ul class="header__list">
                                    <li class="zoom_effect_for_header">
                                       <a class="color_and_decorate_for_header_text" href="{% url 'base' %}">Публикации</a>

                                    </li>
                                    <li class="zoom_effect_for_header">
                                        <a class="color_and_decorate_for_header_text" href="#albums">Фотоальбомы</a>
                                    </li>
                                    <li class="zoom_effect_for_header">
                                        <a class="color_and_decorate_for_header_text" href="#commercial">Заказать съёмку</a>
                                    </li>
                                    <li class="zoom_effect_for_header">
                                        <a class="color_and_decorate_for_header_text" href="#about_me">О себе</a>
                                    </li>
                                    <li class="zoom_effect_for_header">
                                        <a class="color_and_decorate_for_header_text" href="#contacts">Контакты</a>
                                    </li>

                                </ul>
                            </nav>



                        </div>
                    </div>
                </div>
            </header>
            <div class="poz_for_text_visit">
                <a class="main_display_text">
                    Снимаю мероприятия, концерты, представления, торжества, репортажи, постановочные персональные и групповые портреты, занимаюсь интерьерной и предметной съёмкой.
                </a>
                <h1 class="main_display_text_h1">
                    Саблин Павел - фотограф в Тамбове
                </h1>
            </div>
        </div>

    </div>
    <!--1 блок-->
    <section class="ov-h"

             data-aos="fade-up"
             data-aos-offset="200"
             data-aos-duration="150"
             data-aos-easing="ease-in-sine"
             data-aos-once="true"
>
    <!--             расстояние до экрана (в px), при котором запускается анимация (по умолчанию 120);-->
    <!--     длительность анимации (50–3000 мс, по умолчанию 400);-->
    <!--     функция плавности (linear, ease-in-out и т.д.);-->
    <!--    срабатывает только раз>-->
        <div class="margin-boottom-for-title">
            <p class="title_text">
                Одни из лучших работ
            </p>
        </div>
        <!--слайдер-->
        <div class="cards flex c-slider jc-sb">
            <div class="card flex f-s fd-c gallery-container">
<!--                <a data-fancybox="gallery" href="images/DSC_0294.jpg">-->
                <a data-fancybox="gallery" href="{% static 'images/DSC_0294.jpg' %}" alt="photo">
<!--                    <img class="gallery-image active_hover_image"  alt="">-->
                    <img class="gallery-image active_hover_image" src="{% static 'images/DSC_0294.jpg' %}" alt="photo">
                </a>
            </div>
            <div class="card flex f-s fd-c gallery-container">
                <a data-fancybox="gallery" href="{% static 'images/DSC_03111.jpg' %}">
<!--                    <img class="gallery-image active_hover_image" src="images/DSC_03111.jpg" alt="">-->
                    <img class="gallery-image active_hover_image" src="{% static 'images/DSC_03111.jpg' %}" alt="photo">
                </a>
            </div>
            <div class="card flex f-s fd-c gallery-container">
                <a data-fancybox="gallery" href="{% static 'images/DSC_2223.jpg' %}">
<!--                    <img class="gallery-image active_hover_image" src="images/DSC_2223.jpg" alt="">-->
                    <img class="gallery-image active_hover_image" src="{% static 'images/DSC_2223.jpg' %}" alt="photo">
                </a>
            </div>
            <div class="card flex f-s fd-c gallery-container">
                <a data-fancybox="gallery" href="{% static 'images/DSC_8624.jpg' %}">
<!--                    <img class="gallery-image active_hover_image" src="images/DSC_8624.jpg" alt="">-->
                    <img class="gallery-image active_hover_image" src="{% static 'images/DSC_8624.jpg' %}" alt="photo">
                </a>
            </div>
        </div>
        <div class="dev-slider-arrows flex jc-c wake_up center-arrows">
            <img id="dev-arr-left" src="{% static 'images/leftArrow_new_white.png' %}" alt="">
            <img id="dev-arr-right" src="{% static 'images/rightArrow_new_white.png' %}" alt="">
        </div>
    </section>

<!--фотоальбомы-->
    <div id="albums" class="margin_2">

    </div>
    <section class="no_border_radius "
             data-aos="fade-up"
             data-aos-offset="200"
             data-aos-duration="150"
             data-aos-easing="ease-in-sine"
             data-aos-once="true"
    >
        <div class="margin-boottom-for-title">
            <p class="title_text_1">
                Фотоальбомы
            </p>
        </div>
        <!--1 секция с тремя карточками-->
        <div class="poz_three_elements flex">
            <a href="{%url 'portrait.html'%">
                <div class="white_background_for_album_card active_hover_image_album">
<!--                    <img class="album_card" src="images/DSC_786711.jpg" alt="">-->
                    <img class="album_card" src="{% static 'images/DSC_786711.jpg' %}" alt="">

                    <div class="black_text">
                        <p class="text_pozition_1">
                            Портреты
                        </p>

                    </div>


                </div>
            </a>
            <a href="report.html">
                <div class="white_background_for_album_card active_hover_image_album">
<!--                    <img class="album_card" src="images/DSC_3126.jpg" alt="">-->
                    <img class="album_card" src="{% static 'images/DSC_3126.jpg' %}" alt="">

                    <div class="black_text">
                        <p class="text_pozition_2">
                            Репортажи
                        </p>

                    </div>


                </div>
            </a>
            <a href="concert.html">
                <div class="white_background_for_album_card active_hover_image_album">
<!--                    <img class="album_card" src="images/DSC_02131.jpg" alt="">-->
                     <img class="album_card" src="{% static 'images/DSC_02131.jpg' %}" alt="">


                    <div class="black_text">
                        <p class="text_pozition_3">
                            Концерты
                        </p>

                    </div>


                </div>
            </a>
        </div>
<!---->
<!--2 секция с тремя карточками-->
        <div class="poz_three_elements flex">
            <a href="landscape.html">

                <div class="white_background_for_album_card active_hover_image_album">
<!--                    <img class="album_card" src="images/DSC_72291.jpg" alt="">-->
                     <img class="album_card" src="{% static 'images/DSC_72291.jpg' %}" alt="">

                    <div class="black_text">
                        <p class="text_pozition_4">
                            Пейзажи
                        </p>

                    </div>


                </div>
            </a>
            <a href="street_photo.html">
                <div class="white_background_for_album_card active_hover_image_album">
<!--                    <img class="album_card" src="images/DSC_5405 2.jpg" alt="">-->
                     <img class="album_card" src="{% static 'images/DSC_5405 2.jpg' %}" alt="">


                    <div class="black_text">
                        <p class="text_pozition_5">
                            Стрит-фото
                        </p>

                    </div>


                </div>
            </a>
            <a href="all_albums.html">
                <div class="white_background_for_album_card active_hover_image_album">
<!--                    <img class="album_card" src="images/DSC_2410 14.jpg" alt="">-->
                     <img class="album_card" src="{% static 'images/DSC_2410 14.jpg' %}" alt="">


                    <div class="black_text">
                        <p id="about_me" class="text_pozition_6">
                            Все альбомы
                        </p>

                    </div>


                </div>
            </a>
        </div>
<!---->
    </section>
<!--инфоррмация о себе-->
    <section class="no_border_radius_about_me"
             data-aos="fade-up"
             data-aos-offset="200"
             data-aos-duration="150"
             data-aos-easing="ease-in-sine"
             data-aos-once="true"
    >
        <div class="margin-boottom-for-title">
            <p class="title_text_about_me">
                О себе
            </p>
        </div>
        <div class="flex jc-sb">
            <div>
                <div class="white_background_for_me">
<!--                    <img class="image_card_about_me" src="images/123456.jpg" alt="my_photo">-->
                     <img class="image_card_about_me" src="{% static 'images/123456.jpg' %}" alt="my_photo">

                </div>
            </div>
            <div class="about_me_text_1">
                <p>
                    Меня зовут Саблин Павел, и я увлеченный любитель фотографии. Уже пятый год подряд камера становится моим верным спутником, помогающим запечатлеть красоту окружающего мира и сохранить моменты жизни.
                </p>
                <p>
                    Фотография вошла в мою жизнь случайно, но быстро стала неотъемлемой частью моего существования. Я начинал с простых кадров, постепенно осваивая технику и развивая чувство композиции. Сейчас работаю фотографом в студенческом медиацентре «ПроМедиа» при Тамбовском государственном техническом университете (ТГТУ).
                </p>
                <p>
                    Особенно люблю снимать природу, городские пейзажи и портреты друзей. Каждый снимок — это маленькое путешествие в мир эмоций и впечатлений. Фотография помогает увидеть необычное в повседневном и поделиться этими открытиями с окружающими.
                </p>


            </div>
        </div>
        <div class="about_me_text_1">
            <p>
                Буду рад знакомству с новыми друзьями по хобби и надеюсь, что мои работы смогут вдохновлять вас так же, как меня вдохновляет сам процесс съёмки.
            </p>
            <p>
                Одними из последних моих работ были съёмки: капустника посвящения в студенты, "музлото", меропрпиятия от "твой ход", выступлений на всероссийском дне студенчества.
            </p>
        </div>
    </section>
<!---->

<!--О прогулках-->
    <section class="no_border_radius"
             data-aos="fade-up"
             data-aos-offset="200"
             data-aos-duration="150"
             data-aos-easing="ease-in-sine"
             data-aos-once="true"
    >
        <div class="margin-boottom-for-title">
            <p class="title_text_about_travel">
                Фотопрогулки
            </p>
        </div>
        <div class="flex jc-sb travel_cards">
            <div>
                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Ad4f1bccb98e2c9e2e4338f07691a0968fd197cd62de1fe05c4319b78b5691330&amp;source=constructor" class="yandex_card" frameborder="0"></iframe>
            </div>
            <div class="travel_text">
                <p class="travel_text">
                    Фотопрогулки — отличный способ провести свободное время с пользой и удовольствием. Это возможность насладиться красотой родного города, сделать яркие снимки и пообщаться с единомышленниками. Такие мероприятия организуются волонтерами-фотографами и проводятся регулярно в разных уголках городов. Участникам предлагают интересные маршруты, рассказывают о секретах фотографии и помогают раскрыть творческий потенциал. Присоединяйтесь к следующим бесплатным фотопрогулкам и откройте для себя новые грани вашего города!
                </p>
                <button id="commercial" class="button_for_travel">
                    <p class="button_text">
                        Чтобы узнать подробности, посетите страницу проекта!
                    </p>
                </button>
            </div>
        </div>
    </section>
<!---->
<!--секция для формы-->
    <div  class="section_for_form"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="150"
          data-aos-easing="ease-in-sine"
          data-aos-once="true"
    >
        <div>
            <form action="" method="POST" id="form-1">
                <div class="flex fd-c for-form">
                    <p class="title_for_form" id="zak">Заказать съёмку</p>
                    <input name="person-name" type="text" class="text-field1" placeholder="Имя" required>
                    <input name="person-mobile" type="text" class="text-field1" placeholder="Телефон" required>
                    <input name="person-email" type="text" class="text-field1" placeholder="Почта" required>
                    <textarea name="person-sms" rows="2" placeholder="О заказе" type="text" class="text-field-sms" required></textarea>
                    <textarea name="person-sms" rows="1" placeholder="Дата съёмки" type="text" class="text-field-sms" required></textarea>
                    <textarea name="person-sms" rows="3" placeholder="Техническое задание" type="text" class="text-field-sms" required></textarea>
                    <textarea name="person-sms" rows="2" placeholder="Количестов снимков в альбоме" type="text" class="text-field-sms" required></textarea>
                    <textarea name="person-sms" rows="3" placeholder="Обработка" type="text" class="text-field-sms" required></textarea>
                    <textarea name="person-sms" rows="4" placeholder="Пожелания" type="text" class="text-field-sms" required></textarea>
                    <button class="button_for_form" id="form-button" type="submit"><p class="button_text">Отправить</p></button>
                </div>
            </form>
        </div>
    </div>
<!---->
<!--секция футера-->
    <footer id="contacts" class="footer jc-sb">
        <div class="footer_div flex jc-sb">
            <div class="gap_for_footer flex">
                <a href="#">
                    <img class="zoom_for_image_in_footer" src="{% static 'images/telegram12.png' %}" alt="Tg">
                </a>
                <a href="{% static 'images/qr-cod.png' %}">


                    <img class="zoom_for_image_in_footer" src="{% static 'images/qr-cod-mini.png' %}" alt="Call">
<!--                    <img class="zoom_for_image_in_footer" src="images/qr-cod-mini.png" alt="Call">-->
                </a>
            </div>

            <div class="contacts">
                <a class="" href="tel:+79533338553">
                    <div>
                        <p class="footer_text">+7(953)700-53-85</p>
                        <img src="" alt="">

                    </div>
                </a>
                <a href="mailto:pochta@pochta.ru">
                    <div>
                        <p class="footer_text">
                            SPS260851@yandex.ru
                        </p>
                        <img src="" alt="">

                    </div>
                </a>

            </div>
            <div class="tstu_hover">
                <a href="https://tstu.ru/" class="footer_text_1 tstu_hover">from TSTU 2026</a>
            </div>

        </div>
    </footer>
    <div class="after_footer flex gap_for_after_footer_text">
        <div class="block_for_after_footer flex">
            <p class="after_footer_text">
                by Sablin Pavel :)
            </p>
            <a href="black_index.html" class="black_theme">
                Тёмная цветовая схема
            </a>
        </div>
    </div>
<!---->
        <script>
            AOS.init();
        </script>
        <script type="text/javascript" src="{%static 'libs/jquery-3.7.1.js'%}"></script>
        <script type="text/javascript" src="../../../static/scripts/slider_1.js"></script>
        <script type="text/javascript" src="../../../static/scripts/gallery.js"></script>
        <script type="text/javascript" src="../../../static/scripts/main.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../../../static/scripts/burger.js"></script>
        <script type="text/javascript" src="{%static 'libs/slick-1.8.1/slick/slick.min.js'%}"></script>
</body>
</html>
<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <title>Публикации</title>-->
<!--    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">-->
<!--        <div class="container">-->
<!--            <a class="navbar-brand" href="{% url 'post_list' %}">Публикации</a>-->
<!--            <div class="navbar-nav">-->
<!--                <a class="nav-link" href="{% url 'create_post' %}">Новая публикация</a>-->
<!--                {% if user.is_authenticated %}-->
<!--                    <span class="text-white">Привет, {{ user.username }}!</span>-->
<!--                {% endif %}-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->

<!--    <div class="container mt-4">-->
<!--        {% block content %}-->
<!--        {% endblock %}-->
<!--    </div>-->
<!--</body>-->
<!--</html>-->